{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - etudiant index
{% endblock %}

{% block body %}



    
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les élèves</strong></span>
              <span class="info-box-number">{{eleve}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les enseignants</strong></span>
              <span class="info-box-number">{{prof}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-files-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les Classes</strong></span>
              <span class="info-box-number">{{classe}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa glyphicon glyphicon-time"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les séances</strong></span>
              <span class="info-box-number">{{seance}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>




   
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon "><i class="fa fa-hand-paper-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les absences</strong></span>
              <span class="info-box-number">{{absence}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon "><i class="fa fa-tasks"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les exercices</strong></span>
              <span class="info-box-number">{{exercice}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
    
    
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon "><i class="fa glyphicon glyphicon-th"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les fiches<br> des notes</strong></span>
              <span class="info-box-number">{{note}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-darkgreen"><i class="fa fa-calendar"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"><strong>Les évaluations</strong></span>
              <span class="info-box-number">{{e}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

















    



{% endblock %}

