<div id="top" class="row">
      <div class="col-md-12">
    <div class="page-header">
        <h2>New prof <span class="glyphicon glyphicon-file" aria-hidden="true"></span> </h2>
    </div>    </div>
</div>
    
    
    
<div class="row">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
        {% for type, flashMessages in app.session.flashbag.all() %} 
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            {{ flashMessage|raw }}
        </div>
         {% endfor %} 
         {% endfor %} 
    </div>
</div>
    
    <div class="col-md-6">
    {{ form_start(form) }}
    {{ form_widget(form) }}   

    <p>
        
             <div class="modal-footer"><button type="submit" name="submit" value="save" class="btn btn-primary"> 
            Save <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Back to list    <span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
      

      </div>
    </p>


    {{ form_end(form) }}

  
   </div >
</div>

</div>


